h1 {
/*  width: 172px;*/
  height: 40px;
  font-family: Futura;
  font-size: 70px;
  font-weight: bold;
  line-height: 1.54;
  letter-spacing: -1.6px;
  color: #000000;
  margin: auto;
  margin-bottom: 80px !important;
   margin-top: 80px !important;
  text-align:center

}

h2 {
  width: 172px;
  height: 40px;
  font-family: Futura;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.54;
  letter-spacing: -1.6px;
  color: #000000;
  margin-left: 50px;
}


h3 {
  width: 172px;
  height: 40px;
  font-family: Futura;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.54;
  letter-spacing: -1.6px;
  color: #000000;
  margin-left: 50px;
}


.filtering {
  float: left;
}

canvas {
  margin: auto;
  text-align:center;
}


.drawing, #asian-asian-hi, #equal-hi, #black-hi, #black-lo, #asian-hi, #asian-lo, #white-hi, #white-lo, #congress-hi, #proportional-hi {
  margin: auto !important;
  text-align:center !important;

}



.custom-dropdown{
    margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.small {
  font-size: .3em;

}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
/*   margin: 40px;*/
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
/*  margin: 70px;*/
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.custom-dropdown select {
  background-color: black;
    display: inline-block;
  color: white;
    font-family: Futura;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(255,255,255,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(255,255,255,.3);
}

.custom-dropdown::before {
  background-color: rgba(255,255,255,.3);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}